.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
}

.active {
    background: coral;
}

.nearMaxMass {
    color: red;
    font-style: italic;
}